.footer-bg {
  width: 1520px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-sign-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-bottom: 1px solid white;
}
.signup-heading {
  font-family: Simplon Norm;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.signup-text {
  font-family: Simplon Norm;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
}
.signup-bg {
  width: 544px;
  height: 48px;
  top: 197px;
  left: 128px;
  display: flex;
  justify-content: space-between;
}
.signup-input {
  width: 100%; /* Use percentage-based width */
  max-width: 284px; /* Set a maximum width to prevent it from growing too wide on larger screens */
  height: 47px;
  padding: 14px 24px;
  color: #ffffff;
}

.subscribe-button {
  width: 100%; /* Use percentage-based width */
  max-width: 184px; /* Set a maximum width */
  height: 48px;
  gap: 0px;
  border-radius: 5px;
  border: 1px solid #ffffff; /* Adjust border properties */
  font-family: Simplon Norm;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: center; /* Center align the text */
  background-color: #000000;
  color: #808080; /* Adjust text color */
}

.country-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: Hug (72px) px;
  height: Hug (24px) px;
  top: 237px;
  left: 888px;
  gap: 5px;
}
.country-icon {
  width: 24px;
  height: 24px;
  gap: 0px;
  border-radius: 24px 0px 0px 0px;
  color: white;
}

.transaction-text {
  font-family: Simplon Norm;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  color: #ffffff;
}
.signup-main-bg {
  width: 600px;
  margin: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}
.contact-us-bg {
  width: 400px;
  margin: 80px;
}
.about-navigation-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin-top: 10px;
  margin-left: 80px;
}
.about-social-bg {
  display: flex;
  flex-direction: row;
  width: 1100px;
}
.social-payment-bg {
  width: 400px;
  margin: 10px;
  margin-left: 180px;
}
.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
}
.payment-bg {
  width: 20%;
  height: Hug (35px) px;
  top: 549px;
  left: 888px;
}
.responsive-icon {
  display: none;
}
@media (max-width: 768px) {
  .responsive-icon {
    display: flex;
  }
  .footer-bg {
    width: 640px;
    gap: 0px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    width: 510px;
  }
  .contact-sign-bg {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .signup-heading {
    font-family: Simplon Norm;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #ffffff;
  }
  .signup-text {
    font-family: Simplon Norm;
    font-family: Simplon Norm;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
  }
  .signup-bg {
    width: 383px;
    height: 48px;
    top: 107px;
    left: 16px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
  }
  .signup-input {
    width: Fixed (226px) px;
    height: Fixed (47px) px;
    padding: 14px 24px 14px 24px;
    gap: 8px;
    color: #ffffff;
  }
  .subscribe-button {
    width: 100%; /* Use percentage-based width */
    max-width: 104px; /* Set a maximum width */
    height: 48px;
    gap: 0px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-family: Simplon Norm;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: center; /* Center align the text */
    background-color: #000000;
    color: #808080; /* Adjust text color */
    margin-left: 10px;
  }
  .signup-main-bg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid white;
  }
  .contact-us-bg {
    margin: 0px;
  }
  .social-payment-bg {
    width: 90%;
    margin-left: 295px;
  }
  .about-navigation-bg {
    display: none;
  }
  .social-media {
    display: none;
  }
}
